.homeBox{
    border: 1px solid black;  
    border-radius: 25px;
    background: #f1f3ef;
    padding: 10px 20px;
    width: 200px;
    height: 150px;  
    margin: 10px 500px;
    border: 3px solid green;
    
}

.homeBox.button {
    text-align: center;
    background-color: #00a278 !important;
}

.button:hover {
    background-color: #00845c !important;
}
