.content {   
    background-position: center;
    height: 120vh;
    position: absolute;
    width: 450px;
    height: 240px;
    left: 450px;
    top: 80px;
}
img {  
    max-width: 50%;  
    height: auto; 
    padding: 0px 90px;
} 

.imageType{
    background-color: #afc2b8a4;
}

.form {
    border-radius: 10px;
    padding: 110px 10px;
    min-width: 80%;
    margin: 2rem;
}
.text-box.TextField{
    background-color: white;
}
.title {
    color: #fdfefe;
}

.secondary-action {
    padding: 1rem 0;
}

.link {
    font-weight: 700;
    text-decoration: none;
}

.link:focus {
    color: #00a278;
}

.link:active {
    color: #45c09f;
}

.link:visited {
    color: #45c09f;
}

.button {
    background-color: #00a278 !important;
}

.button:hover {
    background-color: #00845c !important;
}

@media screen and (min-width: 768px) {
     .content {
        justify-content: flex-end;
    } 
    .form {
        min-width: 24rem;
    }
}  